.haut {
    background-color: red;
    color: white;
    border-radius: 3px;
}

D{
    display: flex;
    background-color: black;
}
.menu a {
    text-decoration: blue;
    color: rgba(0, 197, 85, 0.8);;
}
a:focus {
    color : rgba(0, 197, 85, 0.8);
    text-decoration: none;

}
.enCours a {
    text-decoration: none;
    color:white;
}
section1{
    display:flex;
}

ul{
    list-style: none;
}

.menu li{
    padding: 6px;
    border-left: 2px solid white;
}
.menu {
    display:flex
}

li:first-child{
    border-left:none;
}
nav{
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    color: white;
}
.logo {
    display: flex;
    image-resolution: 500dppx;
}
.onglets{
    display: flex;
    align-items: center;

}

.logo{
    float: left;
    width: 40%;
    height: 100%;
    margin:0px;

}

.cadre
{
    width : 135px ;

    border-radius : 3px;
    background: linear-gradient(to right, #4d4f4f, #b8b7bb);
}
.centre
{
    padding:4px;
}

.bas{
    background-color : red;
    color : white;
    border-top : 1px solid white;
    border-radius : 3px;

}

.affichage {

    margin: auto;
}

.etat
{
    padding-left: 10px;
    margin : auto;
    color : white;
    width : 35px;
    background-color: black;
    border-bottom: 2px solid white;
}

.imagecentre
{

    text-align : center;

}
